<launch>
  
    <!-- True if we're simulating only -->
    <arg name="sim" default="false" />

    <!-- Start a raven stub if we're in simulated mode -->
    <node pkg="raven_basic" type="raven_stub.py" name="raven_stub" output="screen" if="$(arg sim)">      
    </node>

    <!-- Start the cube drawing node -->
    <node pkg="raven_basic" type="draw_cube.py" name="draw_cube" output="screen">      
    </node>
  
</launch>